:root {
  --accent: #FF9700;
  --accent-hover: #ce800a;
  --success: #97BF00;
  --success-hover: #809E0A;
  --error: #AF2900;
  --error-hover: #FF5000;
}

* {
  box-sizing: border-box;
  color: #191919;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--accent);
}
canvas {
  background-color: #f0f0f0;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.fs-18 {
  font-size: 18px;
}
.h100 {
  height: 100%;
}
.mb-16 {
  margin-bottom: 16px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.bold {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap {
  margin: 0 auto;
  min-height: calc(100vh - 24px);
  width: 500px;
}
.title {
  font-size: 24;
  font-weight: 600;
}
.footer {
  height: 24px;
}

.modal-background {
  background-color: #000000;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.modal-body {
  background-color: #ffffff;
  border-radius: 16px;
  height: 400px;
  left: calc(50% - 200px);
  padding: 24px;
  position: fixed;
  top: calc(50% - 200px);
  width: 400px;
  z-index: 11;
}
.hs-row {
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding: 4px;
  transition: background-color 200ms ease-in-out;
}
.hs-row:hover {
  background-color: #f0f0f0;
  transition: background-color 200ms ease-in-out;
}
.hs-col {
  min-width: 100px;
  width: 50%;
}

.button {
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  height: 32px;
  min-width: 150px;
  outline: none;
  transition: background-color 200ms ease-in-out;
}
.button:hover {
  background-color: var(--accent-hover);
  transition: background-color 200ms ease-in-out;
}
.crash-modal {
  height: 316px;
  top: calc(50% - 158px);
}
.success {
  background-color: var(--success);
}
.success:hover {
  background-color: var(--success-hover);
}
.input {
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  padding: 16px;
  width: 100%;
}
.form-error {
  color: var(--error);
  height: 20px;
}
